.main-page {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: var(--widthOfElements);
    margin: 2vh calc((100% - var(--widthOfElements)) / 2);
}

.main-page>.map-of-element {
    width: 100%;
    margin: 20px auto;
}

.main-page>.map-of-element>iframe {
    width: 100%;
}



@media(max-width: 600px) {
    .main-page>.map-of-element {
        height: 35vh;
    }

    .main-page>.map-of-element>iframe {
        height: 100%;
    }
}