.my-class {
    display: flex;
    padding: 30px 20%;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.my-class>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.my-class>div>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.my-class>div>span:nth-child(2) {
    position: absolute;
    display: inline-block;
    padding: 10px 15px;
    top: 160px;
    left: 10px;
    background-color: orange;
    color: white;
    font-weight: 900;
    font-family: serif;
}

.my-class>div>span:nth-child(3) {
    font-weight: 800;
}

.my-class>div>span:nth-child(5) {
    font-size: 1.2rem;
}

.my-class>div>a {
    padding: 15px;
    background-color: var(--bgColor1);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
}



@media(max-width: 1050px) {
    .my-class {
        padding: 30px 10px;
    }
}


@media(max-width: 750px) {
    .my-class {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .my-class>div>a {
        padding: 12px 10px;
    }
}

@media(max-width: 500px) {
    .my-class {
        grid-template-columns: 1fr 1fr;
    }
}