.search-area {
    position: absolute;
    top: 130px;
    left: 15%;
    z-index: 100000;
    background-color: rgb(220, 220, 220);
    width: 70%;
    height: calc(100vh - 200px);
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-area>.main-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.search-area>.main-area>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 8px;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.search-area>.main-area>div>img {
    width: 100%;
}

.search-area>.close-area {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.search-area>.close-area>span {
    color: red;
    font-style: italic;
    cursor: pointer;
}

@media(max-width: 600px) {
    .search-area {
        top: 145px;
        width: 90%;
        left: 5%;
    }
    .search-area>.main-area{
        grid-template-columns: 1fr 1fr;
    }
}